#month-left{
    opacity:0;
}

#month-right{
    opacity:0;
}

#year-left{
    opacity:0;
}

#year-right{
    opacity:0;
}

#safe-box-cover:hover rect{
    opacity:0;
}

#safe-box-cover:hover path{
    opacity:0;
}

#safe-box-cover:hover polygon{
    opacity:0;
}

#safe-box-cover {
    cursor:pointer;
}

#safe-box-cover:hover {
    color:palevioletred;
}

#budget {
    opacity: 0;
    pointer-events:none;
    position: absolute;
    padding: 10px;
    background: pink;
    border-radius: 5%;
    transition: opacity .3s ease-in-out;
    box-shadow: palevioletred 3px 3px;
}

#budget p {
    padding: 0;
    margin: 0;
    color:white;
}

#budget.show {
    opacity: 1;
}

/* #one-thousand{
    opacity:1;
}

#two-thousand{
    opacity:1;
}

#three-thousand{
    opacity:1;
} */

/* #one-hundred{
    opacity:1;
}

#two-hundred{
    opacity:1;
}

#three-hundred{
    opacity:1;
}

#four-hundred{
    opacity:1;
}

#five-hundred{
    opacity:1;
}

#six-hundred{
    opacity:1;
}

#seven-hundred{
    opacity:1;
}

#eight-hundred{
    opacity:1;
}

#nine-hundred{
    opacity:1;
} */