#door:hover path{
    fill:lightgray;
}
#door path{
    transition: fill 0.3s ease-in-out;
}

h1{
    color: white;
    text-shadow: #ff7bac 2px 2px;
    margin-top: -50%;
    font-family: futura-pt;
    position: relative;
    text-align: center;
}

p{
    font-family: futura-pt;
}

#esc .button2{
    fill:#58c1cc;
    font-family: futura-pt;
    font-size:30px;
}

#esc .button2:hover{
    text-shadow: 2px 2px 2px lightgray;
}