body {
  font-family: 'Inter';
}

.card-container{
  display: flex;
  flex-flow: row wrap;
  padding:0;
  margin:50px;
  margin-left: 100px;
}

@media all and (min-width: 600px) {
  .flex-container { flex: 3 0px; }
  .card { order: 1; }
}

/* .card1{
  width: 200px;
  height: 200px;
  background-color:white;
  margin-top:2%;
  margin-left:15%;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
}

.card2{
  width: 200px;
  height: 200px;
  background-color:white;
  margin-top:2%;
  margin-left:3%;
  border-radius: 10px;
  border: 2px solid #005AFF;
}

.card3{
  width: 200px;
  height: 200px;
  background-color: white;
  margin-top:2%;
  margin-left:3%;
  border-radius: 10px;
  border: 2px solid #005AFF;
}

.card4{
  width: 200px;
  height: 200px;
  background-color: white;
  margin-top:5%;
  margin-left:15%;
  border-radius: 10px;
  border: 2px solid #005AFF ;
}

.card5{
  width: 200px;
  height: 200px;
  background-color:white;
  margin-top:5%;
  margin-left:3%;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
}

.card6{
  width: 200px;
  height: 200px;
  background-color:white;
  margin-top:-10%;
  margin-left:50%;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
  position: relative;
  transform: rotate(340deg);
}

.card2 h3{
  color:rgb(252, 0, 120);
}

.card3 h3{
  color:rgb(252, 0, 120);
}

.card4 h3{
  color:rgb(252, 0, 120);
} */

.box {
  background:#C6C6C6 ;
  border-radius: 10px;;
  width:120px;
  height: 95px;
  position: absolute;
  margin-top: 30px;
  margin-left: -12px;
}

h1{
  font-size:40px;
  font-weight: bolder;
}

h3{
  font-weight: bolder;
  margin-left:10%;
  margin-right:10%;
  margin-top:15%;
}

p{
  margin-left:10%;
  margin-right:10%
}

.card{
  width: 200px;
  height: 200px;
  background-color:white;
  margin-top:50px;
  margin-left:50px;
  border-radius: 10px;
  border: 2px solid #C6C6C6;
}

#blueC{
  border: 2px solid #005AFF ;
}

#redH{
  color:rgb(252, 0, 120);
  text-shadow: gray 0.5px 0.5px;
}

#rotatedC{
  margin-top:150px;
  margin-left:-75px;
  position: relative;
  transform: rotate(340deg);
}